# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.env
*.env.*
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Google services and sensitive files
google-services.json
**/google-services.json
**/hash_key.txt

# Android build artifacts
**/android/app/cxx/
**/android/**/cxx/Debug/
android/spotify-app-remote/

# CMake related
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles/
**/*.ninja
**/build.ninja
**/*.bin
**/configure_fingerprint.bin

# Build files
**/*_command.txt
**/*metadata_generation_command.txt
**/additional_project_files.txt
**/build_file_index.txt
**/symbol_folder_index.txt
**/rules.ninja
**/TargetDirectories.txt

# Cache files
**/cache-v2*
**/cmakeFiles-v1*
**/codemodel-v2*
**/directory-*
**/index-*
**/*.json.bin
**/prefab_config.json
**/android_gradle_build*.json
**/android_gradle_build_mini.json

# Architecture specific build dirs
**/*armeabi-v7a*
**/*arm64-v8a*

# CMake compiler files
**/CMakeCXXCompiler.cmake
**/CMakeCCompilerId.*
**/CMakeDetermineCompilerABI_*
**/CMakeSystem.cmake
